@{
    ViewBag.Title = "About";
}
<div class=" mt-5">
    <h3>@ViewBag.Message</h3>

    <p>
        MyShip application gives you a powerful, dynamic access to crew list, cabin and muster stations assignment.
        It enables a clean separation of concerns and gives you full control over ships crew database.
        With MyShip You will be able to quickly find out who is currently on board and who proceeded on leave.
        You Can check the past history of all crew members sign-on and sign-off dates.
        You can easily find, add and remove all the relevant certificates of whole crew.
    </p>
</div>