@{
    ViewBag.Title = "Contact";
}
<div class="mt-5">
    <h3>@ViewBag.Message</h3>
    <address>
        s178201<br />
        Gdansk<br />
        <abbr title="Phone">P:</abbr>
        xxx-xxx-xxx
    </address>
    <address>
        <strong>Support:</strong>   Support@xxx.xx<br />
        <strong>Marketing:</strong> Marketing@xxx.xx
    </address>
</div>